body {
    background-color: lightblue;
    height: 100%;
    width: 100%;
}

.main {
    display: flex;
    align-items: center;
}

.start-btn {
    display: block;
    margin: 400px 400px 0 45%;
    border: 1px solid white;
    width: 150px;
    height: 100px;
    box-shadow: 2rem;
    visibility: visible;
}

.flex-container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dashes-container {
    display: flex;
    position: fixed;
    margin-bottom: 500px;
    margin-left: 500px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 500px;
    height: 10px;
}

#difficulty-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white; /*TODO make the button colors change depending on the difficulty*/
}

/* #easy-btn {
    transition: ;
} */

.dotted-lines {
    border: 1px solid white;
    background-color: white;
    width: 100px;
    height: 50px;
    gap: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.instructions-design {
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
    margin: 0 0 0 550px;
}

.submit-button {
    border: solid 1px black;
    width: 100px;
    height: 200px;
    background-color: white;
    font-size: 20px;
    color: black;
}

.hidden {
    visibility: hidden;
}

.letter-design {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 20px;
    position: absolute;
}

.win-score {
    font-family: Arial, Helvetica, sans-serif;
    color: lightgrey;
    font-size: 10px;
}

.result-design {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: cornsilk;
    border: 1px dotted whitesmoke;
    margin-bottom: 800px;

}
